<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
         <!--配置过滤器-->
        <filter>
            <filter-name>f</filter-name>
            <filter-class>day3.filter.FilterDemo</filter-class>
            <!--配置初始化参数-->
            <init-param>
                <param-name>encode</param-name>
                <param-value>utf-8</param-value>
            </init-param>
        </filter>
        <filter-mapping>
            <filter-name>f</filter-name>
            <url-pattern>/day3/filter/cartList.do</url-pattern>
        </filter-mapping>
        <!--配置登录功功能-->


        <!--配置购物车功能-->

</web-app>